@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	height: 100dvh;
	width: 100%;
	font-family: "DIN Condensed";
	background: #880000ff;
	font-style: normal;
	font-weight: 200;
	
}

.main_container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/* background-color: #88990044; */

	height: 100%;
	width: 100%;
}

/* BACKGROUND IMAGE */
.bg_still {
	position: absolute;
	object-fit: cover;
	height: 100%;
	width: 100%;
	z-index: -1;
	/* caption-side: none; */

}

.overlay_text {
	padding-right: 30px;
	position:relative;
	z-index: 1;
	text-align: end;
	

	height: 1rem;
	width: 100% - 30px;
	color: #f1e7d7EE;
	font-family: "DIN Condensed", "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	text-shadow: -16px 16px 20px #000000AA;
	/*font-size: 4rem;*/
	font-size: 1rem;
	/* background-color: #00000044; */
	
}